.big-button{
    background: $purple;
    border: none;
    border-bottom: .6rem solid darken($purple, 10%);
    color: white;
    font-weight: bold;
    font-size: $l-size;
    margin-bottom: $xl-size;
    padding: 2.4rem;
    width: 100%;
}

.big-button:disabled{
    opacity: .5;
}

@media (min-width: $desktop-breakpoint) {
    .header {
        .big-button{
            margin-bottom: $xl-size;
        }
        
    }
  }

.button{
    background-color: $purple;
    border:none;
    border-bottom: .3rem solid darken($purple, 10%);
    color: white;
    font-weight: 500;
    padding: $s-size;
}

.button--link{
    background: none;
    border: none;
    padding: 0;
    color: $off-white;
}
//bem